<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okstudy.shop.domain.category.CategoryDAO">

    <select id="list" resultType="Category">
      SELECT * FROM SH_CATEGORY_TB
      WHERE STATUS = "NORMAL"
      ORDER BY ORDER_NO
    </select>

</mapper>