<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okstudy.shop.mapper.board.boardMapper">

    <insert id="create">
        INSERT INTO SH_BOARD_TB (
            BOARD_IDX
            , BOARD_TITLE
            , BOARD_CONTENT
            , BOARD_WRITER
            , REG_DATE
            , VIEW_COUNT
        ) VALUES (
            #{boardIdx}
            , #{title}
            , #{content}
            , #{writer}
            , #{regDate}
            , #{viewCnt}
        )
    </insert>

    <select id="read">
        SELECT
            BOARD_IDX
            , BOARD_TITLE
            , BOARD_CONTENT
            , BOARD_WRITER
            , REG_DATE
            , VIEW_COUNT
        FROM
            SH_BOARD_TB
        WHERE BOARD_IDX = #{boardIdx}
    </select>

    <update id="update">
        UPDATE SH_BOARD_TB
        SET
            BOARD_TITLE = #{title}
            , BOARD_CONTENT = #{content}
        WHERE
            BOARD_IDX = #{boardIdx}
    </update>

    <delete id="delete">
        DELETE FROM SH_BOARD_TB
        WHERE BOARD_IDX = #{boardIdx}
    </delete>

    <select id="listAll" resultType="Board">
        <![CDATA[
        SELECT
            BOARD_IDX,
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_WRITER,
            REG_DATE,
            VIEW_COUNT
        FROM SH_BOARD_TB
        WHERE BOARD_IDX > 0
        ORDER BY BOARD_IDX DESC, REG_DATE DESC
        ]]>
    </select>

</mapper>