<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okstudy.shop.mapper.article.ArticleMapper">

    <insert id="create">
        INSERT INTO sh_board_tb (
            board_idx
            , board_title
            , board_content
            , board_writer
            , reg_date
            , view_count
        ) VALUES (
            #{articleNo}
            , #{title}
            , #{content}
            , #{writer}
            , #{regDate}
            , #{viewCnt}
        )
    </insert>

    <select id="read" resultType="com.okstudy.shop.domain.article.ArticleVO">
        SELECT
            BOARD_IDX
            , BOARD_TITLE
            , BOARD_CONTENT
            , BOARD_WRITER
            , REG_DATE
            , VIEW_COUNT
        FROM
            SH_BOARD_TB
        WHERE BOARD_IDX = #{articleNo}
    </select>

    <update id="update">
        UPDATE SH_BOARD_TB
        SET
            BOARD_TITLE = #{title}
            , BOARD_CONTENT = #{content}
        WHERE
            BOARD_IDX = #{articleNo}
    </update>

    <delete id="delete">
        DELETE FROM SH_BOARD_TB
        WHERE BOARD_IDX = #{articleNo}
    </delete>

    <select id="articleList" resultType="com.okstudy.shop.domain.article.ArticleVO">
    <![CDATA[
        SELECT
        	BOARD_IDX
            , BOARD_TITLE
            , BOARD_CONTENT
            , BOARD_WRITER
            , REG_DATE
            , VIEW_COUNT
        FROM SH_BOARD_TB
        WHERE BOARD_IDX > 0
        ORDER BY BOARD_IDX DESC, VIEW_COUNT DESC
        ]]>
    </select>
	<resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="articleNo" column="BOARD_IDX"/>
        <result property="title" column="BOARD_TITLE" />
        <result property="content" column="BOARD_CONTENT" />
        <result property="writer" column="BOARD_WRITER" />
        <result property="regDate" column="REG_DATE" />
        <result property="viewCnt" column="VIEW_COUNT" />
    </resultMap>
</mapper>